.App {
  text-align: center; }

.App {
  height: 100vh; }

.App-intro {
  font-size: large; }

.login-page {
  background: #4CAF50;
  height: 100%;
  width: 100%;
  font-family: Roboto, sans-serif;
  position: fixed;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(24, 1fr); }
  .login-page .logo-container {
    grid-column: 1/13;
    grid-row: 2/8;
    object-fit: contain;
    display: flex;
    align-items: center;
    justify-self: center;
    align-self: center;
    height: 100%; }
  .login-page .inner-grid {
    grid-row: 10 / 25;
    grid-column: 1/13;
    display: inherit;
    grid-template-columns: inherit;
    grid-template-rows: repeat(12, 1fr); }
  .login-page .title {
    grid-row: 8;
    grid-column: 1/13;
    justify-content: center;
    justify-self: center;
    font-size: 1.5rem;
    color: white; }
  .login-page .one-row {
    justify-self: center;
    text-align: center;
    grid-column: 1/13; }
  .login-page .form-login {
    grid-row: 10 / 25; }
